UserInterfaceState.xcuserstate
*.xcuserstate
BayTrade.xcodeproj/project.xcworkspace/xcuserdata/john.xcuserdatad/UserInterfaceState.xcuserstate
BayTrade.xcodeproj/project.xcworkspace/xcuserdata/pabrai.xcuserdatad/UserInterfaceState.xcuserstate